<template name="titleBar">
<div class="navbar">
	<div class="navbar-inner">
    	<div class="center"><a class="titleBar">Meteor Notes</a></div>
      {{#if routeIs "noteList"}}
      <div class="right sliding openNewNote"><a href="{{pathFor 'noteNew'}}"><i class="fa fa-pencil-square-o fa-lg"></i></a></div>
      {{/if}}
      {{#if routeIs "noteNew"}}
    	<div class="right saveNote"><a href=""><i class="fa fa-check"></i></a></div>
      {{/if}}
      {{#if routeIs "notePage"}}
      <div class="right updateNote"><a href=""><i class="fa fa-check"></i></a></div>
      {{/if}}
      {{#if routeIs "noteMark"}}
      <div class="right"></div>
      {{/if}}
      {{#if routeIs "aboutMe"}}
      <div class="right"></div>
      {{/if}}
	</div>
</div>
</template>
